@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--boost-tan-1: #fdf3e9;
	--boost-black-1: #303030;
	--boost-black-2: #707070;
	--banner-gradient: linear-gradient(
		40deg,
		#b2dcc7,
		#a4d9e1,
		#ffecd2,
		#f4dcd4,
		#faaf98
	);
	--homepage-gradient: linear-gradient(
		219deg,
		rgb(207, 216, 221) 0%,
		rgb(207, 216, 221) 25%,
		rgb(246, 234, 198) 100%
	);
	--homepage-gradient-sec: linear-gradient(
		143deg,
		rgb(226, 228, 229) 0%,
		rgb(207, 216, 221) 25%,
		rgb(251, 204, 182) 100%
	);
	--homepage-gradient-third: linear-gradient(
		207deg,
		rgb(207, 216, 221) 0%,
		rgb(207, 216, 221) 25%,
		rgb(246, 234, 199) 100%
	);
}

/* ----------------- Banner Background ----------------- */
.banner-container {
	background-image: var(--banner-gradient);
	-webkit-animation: banner-animation 15s infinite alternate;
	-moz-animation: banner-animation 15s infinite alternate;
	animation: banner-animation 15s infinite alternate;
	background-size: 400%;
}

@keyframes banner-animation {
	0% {
		background-position: left;
	}

	33% {
		background-position: top;
	}

	66% {
		background-position: bottom;
	}

	100% {
		background-position: right;
	}
}

@-webkit-keyframes banner-animation {
	0% {
		background-position: left;
	}

	33% {
		background-position: top;
	}

	66% {
		background-position: bottom;
	}

	100% {
		background-position: right;
	}
}

@-moz-keyframes banner-animation {
	0% {
		background-position: left;
	}

	33% {
		background-position: top;
	}

	66% {
		background-position: bottom;
	}

	100% {
		background-position: right;
	}
}

.banner-visual {
	min-height: 255px;
	min-width: 230px;
	height: 255px;
	width: 230px;
	border-radius: 100%/180px 180px 0 0;
	object-fit: cover;
}

@media only screen and (min-width: 1024px) {
	.banner-visual {
		min-height: 470px;
		min-width: 414px;
		height: 470px;
		width: 414px;
		border-radius: 100%/310px 310px 0 0;
	}
}

.arch-img {
	min-height: 255px;
	min-width: 230px;
	height: 255px;
	width: 230px;
	border-radius: 100%/180px 180px 0 0;
	object-fit: cover;
}

@media only screen and (min-width: 1024px) {
	.arch-img {
		min-height: 400px;
		min-width: 380px;
		height: 400px;
		width: 380px;
		border-radius: 100%/300px 300px 0 0;
	}
}

.font-border {
	color: white;
	text-shadow: -1px 1px 0 #303030, 1px 1px 0 #303030, 1px -1px 0 #303030,
		-1px -1px 0 #303030;
}

/* ----------------- Slider Bar ----------------- */
.slider-bar {
	will-change: transform;
	animation-name: moveSlideshow;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes moveSlideshow {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}
}

@-webkit-keyframes moveSlideshow {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}
}

@-moz-keyframes moveSlideshow {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}
}

/* ----------------- Certifications ----------------- */
.cetifications-container {
	background-image: var(--homepage-gradient-sec);
	background-size: 200%;
}

/* ----------------- Bundles ----------------- */
.bundles-container {
	background-image: var(--homepage-gradient);
	background-size: 100%;
}

/* ----------------- Industries ----------------- */
.industries-container {
	background-image: var(--homepage-gradient-sec);
	background-size: 400%;
}

.arch-img-square {
	min-height: 225px;
	min-width: 225px;
	height: 225px;
	width: 225px;
	border-radius: 50px 50px 50px 50px;
	object-fit: cover;
}

.arch-img-upsidedown {
	min-height: 240px;
	min-width: 225px;
	height: 240px;
	width: 225px;
	border-radius: 100%/0 0 180px 180px;
	object-fit: cover;
}

.arch-img-tilt {
	min-height: 255px;
	min-width: 200px;
	height: 255px;
	width: 200px;
	border-radius: 100%/180px 180px 180px 180px;
	object-fit: cover;
	transform: rotate(20deg);
}

@media only screen and (min-width: 1280px) {
	.arch-img-square {
		min-height: 405px;
		min-width: 380px;
		height: 405px;
		width: 380px;
		border-radius: 50px 50px 50px 50px;
		object-fit: cover;
	}

	.arch-img-upsidedown {
		min-height: 405px;
		min-width: 380px;
		height: 405px;
		width: 380px;
		border-radius: 100%/0 0 350px 350px;
		object-fit: cover;
	}

	.arch-img-tilt {
		min-height: 450px;
		min-width: 360px;
		height: 450px;
		width: 360px;
		border-radius: 100%/350px 350px 350px 350px;
		object-fit: cover;
		transform: rotate(20deg);
	}
}

/* ----------------- Creative Services ----------------- */
.arch-creative-img-square {
	min-height: 300px;
	min-width: 300px;
	height: 300px;
	width: 300px;
	border-radius: 50px 50px 50px 50px;
	object-fit: cover;
}

@media only screen and (min-width: 1024px) {
	.arch-creative-img-square {
		min-height: 345px;
		min-width: 345px;
		height: 345px;
		width: 345px;
		border-radius: 50px 50px 50px 50px;
		object-fit: cover;
	}
}
